---
import { categoriesHandler } from "@/lib/handlers/categories";
import { SOCIAL_LINKS, OTHER_LINKS } from "@/lib/config";
import Hashtag from "@/assets/svgs/hashtag.astro";
import Icon from "../bases/icon.astro";

const categories = categoriesHandler.allCategories();
---

<footer
  class="footer border-t border-primary-content/80 dark:border-primary-content/20 py-6"
>
  <div class="container">
    <div class="flex flex-col gap-4">
      <aside class="flex items-center gap-2">
        <Hashtag />
        <p>
          <strong class="text-lg">3x-Alpha</strong>
          <br />
          基于 <a class="underline" href="https://astro.build" target="_blank"
            >Astro</a
          > 构建的 3 倍杠杆 ETF 与期权策略分享博客。
        </p>
      </aside>
      <nav
        class="flex flex-col gap-4 lg:flex-row lg:flex-wrap text-base lg:text-sm font-semibold"
      >
        <a href="/" class="link link-hover">首页</a>
        <a href="/articles" class="link link-hover">所有文章</a>
        {
          categories.map((category) => (
            <a
              href={`/categories/${category.data.path}`}
              class="link link-hover"
            >
              {category.data.title}
            </a>
          ))
        }
      </nav>
    </div>
    <div class="divider w-full h-1"></div>
    <div class="flex flex-col gap-4">
      <nav>
        <div class="flex gap-4">
          <p class="font-bold">社交媒体：</p>
          <ul class="flex flex-wrap gap-4">
            {
              SOCIAL_LINKS.map(({ href, icon, text, target }) => (
                <li>
                  <a
                    href={href}
                    class="link link-hover"
                    target={target ?? "_blank"}
                    title={text}
                    aria-label={text}
                  >
                    <Icon icon={icon} />
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </nav>
      <nav class="flex flex-wrap gap-4 text-xs mt-2">
        {
          OTHER_LINKS.map(({ href, text, target }) => (
            <a href={href} class="link link-hover" target={target ?? "_self"}>
              {text}
            </a>
          ))
        }
      </nav>
      <div
        class="mt-4 p-4 bg-base-200/50 rounded-lg text-xs text-base-content/70"
      >
        <p class="font-bold mb-1">免责声明：</p>
        <p>
          本网站所提供的内容仅供参考和交流，不构成任何形式的投资建议、财务建议或法律建议。杠杆
          ETF (如 TQQQ, UPRO)
          及期权交易具有极高的风险，可能导致本金的快速损失。在做出任何投资决定之前，请务必咨询专业的财务顾问，并充分了解相关风险。投资有风险，入市需谨慎。
        </p>
      </div>
    </div>
  </div>
</footer>
