---
import Menu from "@/assets/svgs/menu.astro";
import { categoriesHandler } from "@/lib/handlers/categories";
import { OTHER_LINKS } from "@/lib/config";

const categories = categoriesHandler.allCategories();
---

<div class="dropdown">
  <button
    tabindex="0"
    role="button"
    class="btn btn-ghost btn-circle"
    aria-label="Menu"
  >
    <Menu />
  </button>

  <ul
    tabindex="0"
    class="menu dropdown-content z-50 bg-base-100 rounded-box w-56 shadow"
  >
    <li><a href="/" aria-label="首页">首页</a></li>
    <li><a href="/articles" aria-label="所有文章">所有文章</a></li>

    <li>
      <details open>
        <summary>文章分类</summary>
        <ul>
          {
            categories.map((category) => (
              <li>
                <a
                  href={`/categories/${category.data.path}`}
                  aria-label={category.data.title}
                >
                  {category.data.title}
                </a>
              </li>
            ))
          }
        </ul>
      </details>
    </li>

    <li>
      <details open>
        <summary>其他页面</summary>
        <ul>
          {
            OTHER_LINKS.map(({ href, text, target }) => (
              <li>
                <a href={href} target={target ?? "_self"} aria-label={text}>
                  {text}
                </a>
              </li>
            ))
          }
        </ul>
      </details>
    </li>
  </ul>
</div>
